/*********************
header
**********************/
header {
    margin-bottom: 70px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav li {
    margin-right:3rem;
}




/*********************
delete
**********************/


