html {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: black;
}

.section-heading h2 {
	font-size: 3rem;
	margin: 15px;
}

/*
|------------------------------------------
|  Header Content
|------------------------------------------
*/
.navbar {
	padding: .5rem 1rem;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light.navbar-nav .show>.nav-link {
	color: #cbd1d8;
	font-size: 1.5rem;
}


.card {
	padding: 10px 15px;
	border: none;
}

@media (min-width: 576px) {
	.card-deck {
		display: flex;
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-collapse {
		justify-content: flex-end;
	}
}

